<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mstone-ns="http://www.mstone.com/schema/mstone"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.mstone.com/schema/mstone
       http://www.mstone.com/schema/mstone/mstone.xsd">

    <mstone-ns:mstone id="mstone" name="lenn" desc="我是魔法石"/>

</beans>